
/* анимация поворотов */
/* .r1{animation: rotate_1 4s linear infinite;} */
/* .r2{animation: rotate_2 4s linear infinite;} */
/* .r3{animation: rotate_3 8s linear infinite;} */
/* .r4{animation: rotate_4 4s linear infinite;} */
/* .r5{animation: rotate_5 4s linear infinite;} */

/* готово */
.r2_0_1 {animation: rotate_2_0_1 4s linear infinite}
.r2_0_2 {animation: rotate_2_0_2 4s linear infinite}
.r_2_270 {animation: rotate_2_270  4s linear infinite}
.r_2_270 {animation: rotate_2_270  4s linear reverse infinite}
.r4_0 { animation: rotate_4 8s linear alternate-reverse infinite}
.r4_0- { animation: rotate_4 8s linear reverse infinite}
.r4_90 { animation: rotate_4_90 8s linear alternate-reverse infinite}
.r4_90- { animation: rotate_4_90 8s linear reverse infinite}
.r4_180 { animation: rotate_4_180 8s linear alternate-reverse infinite}
.r4_180- { animation: rotate_4_180 8s linear reverse infinite}


/* .r4_2_0 {animation: rotate_4_2_0 8s linear  infinite} */

@keyframes rotate_1 {
  0%{
    transform: rotate(0deg);}
  20%{
      transform: rotate(90deg)}
  25%{
    transform: rotate(90deg)}
  45%{
    transform: rotate(180deg)}
  50%{
    transform: rotate(180deg)}
  70%{
    transform: rotate(270deg)}
  75%{
    transform: rotate(270deg)}
  95%{
    transform: rotate(360deg);}
  100%{
    transform: rotate(360deg);}
}
@keyframes rotate_2 {
  0%{
    transform: rotate(0deg);}
  20%{
      transform: rotate(-90deg)}
  25%{
    transform: rotate(-90deg)}
  45%{
    transform: rotate(-180deg)}
  50%{
    transform: rotate(-180deg)}
  70%{
    transform: rotate(-270deg)}
  75%{
    transform: rotate(-270deg)}
  95%{
    transform: rotate(-360deg);}
  100%{
    transform: rotate(-360deg);}
}
@keyframes rotate_3 {
  0%{
    transform: rotate(0deg)}
  6%{
      transform: rotate(-90deg)}
  12,75%{
    transform: rotate(-90deg)}
  18,5%{
    transform: rotate(-180deg)}
  31,5%{
    transform: rotate(-180deg)}
  37,5%{
    transform: rotate(-270deg)}
  43,75%{
    transform: rotate(-270deg)}
  50%{
    transform: rotate(-360deg);}
  56,25%{
    transform: rotate(-360deg);}
  72,5%{
    transform: rotate(-270deg)}
  78,75%{
    transform: rotate(-270deg)}
  81,25%{
    transform: rotate(-180deg)}
  87,5%{
    transform: rotate(-180deg)}
  93,75%{
    transform: rotate(-90deg)}
  100%{
    transform: rotate(-90deg)}
  /* 0%{
    transform: rotate(0deg)} */


    95%{
      transform: rotate(-360deg);}

}


@keyframes rotate_2_0_1 {
  0%{ transform: rotate(0deg);}
  12.5%{ transform: rotate(0deg);}
  50%{ transform: rotate(90deg);}
  62.5%{ transform: rotate(90deg);}
  100%{ transform: rotate(0deg);}
}
@keyframes rotate_2_0_2 {
  0%{ transform: rotate(0deg);}
  12.5%{ transform: rotate(0deg);}
  50%{ transform: rotate(-90deg);}
  62.5%{ transform: rotate(-90deg);}
  100%{ transform: rotate(0deg);}
}
@keyframes rotate_2_90 {
  0%{ transform: rotate(90deg);}
  12.5%{ transform: rotate(90deg);}
  50%{ transform: rotate(180deg);}
  62.5%{ transform: rotate(180deg);}
  100%{ transform: rotate(90deg);}
}
@keyframes rotate_2_180 {
  0%{ transform: rotate(180deg);}
  12.5%{ transform: rotate(180deg);}
  50%{ transform: rotate(270deg);}
  62.5%{ transform: rotate(270deg);}
  100%{ transform: rotate(180deg);}
}
@keyframes rotate_2_270 {
  0%{ transform: rotate(270deg);}
  12.5%{ transform: rotate(270deg);}
  50%{ transform: rotate(360deg);}
  62.5%{ transform: rotate(360deg);}
  100%{ transform: rotate(270deg);}
}

@keyframes rotate_4 {
  0%{ transform: rotate(0deg);}
  6.25%{ transform: rotate(0deg);}
  25%{ transform: rotate(90deg);}
  31.25%{ transform: rotate(90deg);}
  50%{ transform: rotate(180deg);}
  56.25%{ transform: rotate(180deg);}
  75%{ transform: rotate(270deg);}
  81.25%{ transform: rotate(270deg);}
  100%{ transform: rotate(360deg);}
}
/* @keyframes rotate_4- {
  0%  { transform: rotate(-360deg);}
  6.25%  { transform: rotate(-360deg);}
  25%  { transform: rotate(-90deg);}
  31.25%  { transform: rotate(-90deg);}
   50%  { transform: rotate(-180deg);}
  56.25%  { transform: rotate(-180deg);}
  75%  { transform: rotate(-270deg);}
    81.25%  { transform: rotate(-270deg);}
    100%{ transform: rotate(-360deg);}
} */

@keyframes rotate_4_90 {
  0%{ transform: rotate(90deg);}
  6.25%{ transform: rotate(90deg);}
  25%{ transform: rotate(180deg);}
  31.25%{ transform: rotate(180deg);}
  50%{ transform: rotate(270deg);}
  56.25%{ transform: rotate(270deg);}
  75%{ transform: rotate(360deg);}
  81.25%{ transform: rotate(360deg);}
  100%{ transform: rotate(450deg);}
}



@keyframes rotate_4_180 {
  0%{ transform: rotate(180deg);}
  6.25%{ transform: rotate(180deg);}
  25%{ transform: rotate(270deg);}
  31.25%{ transform: rotate(270deg);}
  50%{ transform: rotate(360deg);}
  56.25%{ transform: rotate(360deg);}
  75%{ transform: rotate(450deg);}
  81.25%{ transform: rotate(450deg);}
  100%{ transform: rotate(540deg);}
}
/* @keyframes rotate_4_2_0 {
  0%{ transform: rotate(0deg);}
  6.25%{ transform: rotate(0deg);}
  25%{ transform: rotate(90deg);}
  31.25%{ transform: rotate(90deg);}
  6.25%{ transform: rotate(180deg);}
  25%{ transform: rotate(180deg);}
  31.25%{ transform: rotate(180deg);}
  50%{ transform: rotate(180deg);}
  56.25%{ transform: rotate(-90deg);}
  75%{ transform: rotate(-90deg);}
  81.25%{ transform: rotate(0deg);}
  100%{ transform: rotate(0deg);}
} */
@keyframes rotate_4_2_0 {
  0%{ transform: rotate(0deg);}
  6.25%{ transform: rotate(0deg);}
  25%{ transform: rotate(90deg);}
  31.25%{ transform: rotate(90deg);}
  6.25%{ transform: rotate(90deg);}
  25%{ transform: rotate(90deg);}
  31.25%{ transform: rotate(0deg);}
  50%{ transform: rotate(1deg);}
  56.25%{ transform: rotate(-90deg);}
  75%{ transform: rotate(-90deg);}
  81.25%{ transform: rotate(-90deg);}
  100%{ transform: rotate(-90deg);}
}
@keyframes rotate_4_2_180 {
  0%{ transform: rotate(180deg);}
  6.25%{ transform: rotate(180deg);}
  25%{ transform: rotate(270deg);}
  31.25%{ transform: rotate(270deg);}
  6.25%{ transform: rotate(360deg);}
  25%{ transform: rotate(360deg);}
  31.25%{ transform: rotate(360deg);}
  50%{ transform: rotate(360deg);}
  56.25%{ transform: rotate(270deg);}
  75%{ transform: rotate(270deg);}
  81.25%{ transform: rotate(180deg);}
  100%{ transform: rotate(180deg);}
}
/* @keyframes stage {

  to {transform: rotate(360deg);}
} */
