html{
  margin: 0;
  padding:0;
}
body{
  /* display: block; */
  width: 1440px;
  height: auto;
  margin: 0;
  padding: 0;
  background: white;
  position: relative;
  line-height: 1;
}

      body::before{
      content: "";
      position: absolute;
      left:0;
      top: 0;
      right: 0;
      background: url('../images/background.svg');
      height: 2880px;
      display: block;
      opacity: .2;
      }
.string{
  width: 1440px;
  height: 144px;
  display: inline-flex;
  margin-top: -3px;

}
.square {
  width: 144px;
  height: 144px;
  display: flex;
  align-content: stretch;
  position: relative;
  background-color: black;
}
.quarter {
  width: 144px;
  height: 144px;
  display: flex;
  align-content: stretch;
  position: relative;
  background-color: black;
  border-radius: 100% 0 0 0;
  margin-bottom: -10px;
  opacity: .8;
}
.quarter_transparent {
  width: 144px;
  height: 144px;
  display: flex;
  align-content: stretch;
  position: relative;
  margin-bottom: -10px;
}
/* поворот положения */
.tr90{
  transform: rotate(90deg);}
.tr180{
  transform: rotate(180deg);}
.tr270{
  transform: rotate(270deg);}


/* анимация поворотов */
.r90{
  }
.r180{
  }
.r270{
  }



@keyframes rotate_1 {
  0%{
    transform: rotate(0deg);}
  20%{
      transform: rotate(90deg)}
  25%{
    transform: rotate(90deg)}
  45%{
    transform: rotate(180deg)}
  50%{
    transform: rotate(180deg)}
  70%{
    transform: rotate(270deg)}
  75%{
    transform: rotate(270deg)}
  95%{
    transform: rotate(360deg);}
  100%{
    transform: rotate(360deg);}
}
@keyframes rotate_2 {
  0%{
    transform: rotate(0deg);}
  20%{
      transform: rotate(-90deg)}
  25%{
    transform: rotate(-90deg)}
  45%{
    transform: rotate(-180deg)}
  50%{
    transform: rotate(-180deg)}
  70%{
    transform: rotate(-270deg)}
  75%{
    transform: rotate(-270deg)}
  95%{
    transform: rotate(-360deg);}
  100%{
    transform: rotate(-360deg);}
}
@keyframes rotate_3 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(270deg);
  }
}


.restangle_under_logo {
  width: 288px;
  height: 144px;
  position: relative;
  display: block;
  background-color: black;
}
.zigzag{
  width: 288px;
  height: 432px;
  position: relative;
  margin-top: -288px;
  background-image: url('../images/zigzag.svg');
  background-size: cover 100% ;
}
.zigzag_horizont {
  height: 288px;
  width: 432px;
  position: relative;
  background-image: url('../images/zigzag_horizont.svg');
  background-size: cover 100% ;
}
.zigzag_block{
   position:relative;
   display:block;
   width:288px;
   height:432px;
}
.zigzag_block_horizont{
   position:relative;
   display:block;
   width:432px;
   height:288px;
   margin-top: -144px;
   margin-left: 0;
}
.zigzag_block_horizont:hover .zigzag_horizont{
width:  0;
transition: all 1s;
}
.zigzag_block:hover .zigzag {
  height: 0;
  transition: all 1s;
}
.text_options {
  padding-left:  40px;
  padding-top:  50px;
}
.musei {
  padding-left:  30px;
  padding-top: 25px;
}
.text_prostranstvo {
  width: 576px;
  height: 288px;
}
