html{
  margin: 0;
  padding:0;
}

p{
  font-size: 29px
}

.infor{
  /* font-size: 29px; */
  padding-top: 5vw;
  padding-left: .5vw;
  color: black;
  width: 20vw;
  height: 30vw;
  /* margin-top: -20vw; */
  font-family: "RFDewiExtended-Semibold", sans-serif;
  font-size: 20pt;
  /* transition: all 4s; */
    opacity: 0;
}
.infor_h{
  /* font-size: 29px; */
  padding-top: 5vw;
  padding-left: .5vw;
  color: black;
  width: 30vw;
  height: 20vw;
  font-family: "RFDewiExtended-Semibold", sans-serif;
  /* transition: all 4s; */
    opacity: 0;
}
#layer1, #layer2{
  position: flex;
}
#layer1 {z-index:1;}
#layer2 {z-index:2}


.btn {
  width: 10vw;
  height: 10vw;
}
.string{
  width: 100vw;
  height: 10vw;
  display: inline-flex;
  position: relative;
  margin-top: -3px;

}
.square {
  /* width: 144px; */
  width: 10vw;
  height: 10vw;
  /* flex-basis: 10%; */
  /* display: flex; */
  /* flex: 1; */

  align-content: stretch;
  position: relative;
  background-color: black;
}
.quarter {

  width: 10vw;
  height: 10vw;

  align-content: stretch;
  position: relative;
  background-color: black;
  border-radius: 100% 0 0 0;

}
.quarter_transparent {

  width: 10vw;
  height: 10vw;
  /* width: 144px; */
  /* flex-basis: 10%; */
  height: 144px;
  display: flex;
  align-content: stretch;
  position: relative;
  margin-bottom: -10px;
}
/* поворот положения */
.tr90{
  transform: rotate(90deg);}
.tr180{
  transform: rotate(180deg);}
.tr270{
  transform: rotate(270deg);}


/* анимация поворотов */
.r1{animation: rotate_1 4s linear infinite;
  }
.r2{animation: rotate_2 4s linear infinite;
  }
.r3{animation: rotate_3 8s linear infinite;
  }


@keyframes rotate_1 {
  0%{
    transform: rotate(0deg);}
  20%{
      transform: rotate(90deg)}
  25%{
    transform: rotate(90deg)}
  45%{
    transform: rotate(180deg)}
  50%{
    transform: rotate(180deg)}
  70%{
    transform: rotate(270deg)}
  75%{
    transform: rotate(270deg)}
  95%{
    transform: rotate(360deg);}
  100%{
    transform: rotate(360deg);}
}
@keyframes rotate_2 {
  0%{
    transform: rotate(0deg);}
  20%{
      transform: rotate(-90deg)}
  25%{
    transform: rotate(-90deg)}
  45%{
    transform: rotate(-180deg)}
  50%{
    transform: rotate(-180deg)}
  70%{
    transform: rotate(-270deg)}
  75%{
    transform: rotate(-270deg)}
  95%{
    transform: rotate(-360deg);}
  100%{
    transform: rotate(-360deg);}
}
@keyframes rotate_3 {
  0%{
    transform: rotate(0deg)}
  6%{
      transform: rotate(-90deg)}
  12,75%{
    transform: rotate(-90deg)}
  18,5%{
    transform: rotate(-180deg)}
  31,5%{
    transform: rotate(-180deg)}
  37,5%{
    transform: rotate(-270deg)}
  43,75%{
    transform: rotate(-270deg)}
  50%{
    transform: rotate(-360deg);}
  56,25%{
    transform: rotate(-360deg);}
  72,5%{
    transform: rotate(-270deg)}
  78,75%{
    transform: rotate(-270deg)}
  81,25%{
    transform: rotate(-180deg)}
  87,5%{
    transform: rotate(-180deg)}
  93,75%{
    transform: rotate(-90deg)}
  100%{
    transform: rotate(-90deg)}
  /* 0%{
    transform: rotate(0deg)} */





    95%{
      transform: rotate(-360deg);}
;}
}

.logo {
  /* padding: 10%; */
  width: 10vw;
  height: 10vw;
  background-image: url('../images/logo.svg');

}

.restangle_under_logo {
  width: 20vw;
  height: 10vw;
  position: relative;
  /* display: block; */
  background-color: black;
}

.zigzag{
  width: 20vw;
  height: 30vw;
  position: absolute;
  /* position: relative; */
  /* bottom: 20vw; */
  background: url('../images/zigzag.svg') no-repeat;
  background-size: 100% ;
  transition: all 4s;
  transition-timing-function: linear;
  transition-delay: 1s
}
.zigzag_block{
   position:relative;
   display:block;
   width:20vw;
   height:30vw;
}
.zigzag_horizont {
  width: 30vw;
  height: 20vw;
  position: absolute;
  /* position: relative; */
  background: url('../images/zigzag_horizont.svg');
  background-size: auto 100% ;
  background-repeat: no-repeat;
  transition: all 4s;
  transition-timing-function: linear;
  transition-delay: 1s
}
.zigzag_block_horizont{
   position:relative;
   display:block;
   width:30vw;
   height:20vw;
}
.zigzag_block_horizont:hover .zigzag_horizont{
width:  0;
transition: all 1s;
}
.zigzag_block:hover .zigzag {
  height: 0;
  transition: all 1s;
}
.zigzag_block:hover .infor {
  opacity: 1;
  transition: all 2s;
}
.zigzag_block_horizont:hover .infor_h {
  opacity: 1;
  transition: all 2s;
}


.text_options {
  padding-left:  40px;
  padding-top:  50px;
}
.musei {
  width: 30vw;
  height: 2vw;
  padding-left:  30px;
  padding-top: 25px;
  /* position: absolute; */
  /* align-content: flex-start; */
}
.text_prostranstvo {
  /* padding-top: 10%; */
  width: 30vw;
  height: 20vw;
  /* width: 576px;
  height: 288px; */
}
.in_text_prostranstvo{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
}
.footer{
  width: 100vw;
  height: 20vw;
  position: relative;
  /* display: inline-flex; */
  /* position: relative; */
}
.footer_1{
  /* width: 100vw; */
  display: inline-flex;
}
.footer_2{
  /* width: 100vw; */
  display: inline-flex;
}
.footer_3{
  /* width: 100vw; */
  display: inline-flex;
}
.footer_4{
  /* width: 100vw; */
  display: inline-flex;
}
.footer_5{
  /* width: 100vw; */
  display: inline-flex;
}

.logo_options {
  width: 15vw;
  height: 10vw;
}

#s1{}
#s2{}
#s3{}
#s4{}
#s5{}

.musei_bg{
  width: 100%;

  height: 20%;
  background: url("../images/musei.svg") no-repeat;
  /* background-repeat: no-repeat; */
  background-size: 60%;
}

.shriftovih_bg{
  width: 100%;
  height: 18%;
  background: url("../images/shriftovih.svg") no-repeat;
  /* background-repeat: no-repeat; */
  background-size: 90%;
}

.illusi_bg {
  width: 100%;
  height: 20%;
  background: url("../images/illusi.svg") no-repeat;
  /* background-repeat: no-repeat; */
  background-size: 70%;
}
/* для телефона */

/* для айпада портрета */
