@media only screen and (min-width: 1920px)  {
  /* HD*/
  .quarter {width: 7.14vw}
}
@media only screen and (min-width: 1680px) and (max-width: 1920px) {
  /* MacBook Pro 2020 15"*/
 .footer_5 {display: none;}
}

@media only screen and (min-width: 1440px) and (max-width: 1680px) {
  /* MacBook Pro 2020*/
  .footer_4, .footer_5,  #s1 {display: none;}
}

/* @media only screen and (min-width: 1366px) and (max-width: 1440px) { */
  /* MacBook Pro 2020*/
  /* .footer_4, .footer_5,  #s1  {display: none;} */
    /* кандидат на вылет */
  /* } */
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /* Macbook Air 11.6" */
  /* .infor, .infor_h {
    font-size: 11px;
  } */
  /* .guarter {width:} */
  p {font-size: 25px;}
  .footer_4, .footer_5, #s1, #s2 {display: none;}
}
}

/* @media only screen and (min-width: 1024px) and (max-width: 1280px) { */
  /* MacBook Pro 13" старый */
  /* .footer_4, .footer_5, #s1 {display: none;}*/




@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* iPad Portrait */
  .quarter {width: 12.5vw; height: 12.5vw}
  p {font-size: 18px;}
  .footer_3, .footer_4, .footer_5,   #s1, #s2 {display: none;}
  /* .text_prostranstvo{width: 30vw;} */
  .guarter { width: 12,5vw}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* промежуток */
  p {font-size: 14px;}

  .footer_3, .footer_4, .footer_5,   #s1, #s2, #s3 {display: none;}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  /* iPhone X */
  p {font-size: 11px;}

  .footer_3, .footer_4, .footer_5,   #s1, #s2, #s3 {display: none;}
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (orientation: portrait) { */
  /* iPhone X Portrait */
  /* .footer_4, .footer_5,  {display: none;} */
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (orientation: landscape) { */
  /* iPhone X Landscape */
  /* .footer_4, .footer_5,  {display: none;} */
}



@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  /* iPhone SE */
  .footer_2, .footer_3, .footer_4, .footer_5,   #s1, #s2, #s3, #s4 {display: none;}
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 375px) and (orientation: portrait) { */
  /* iPhone SE Portrait */
  /* .footer_2,.footer_3, .footer_4, .footer_5,  {display: none;} */
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 375px) and (orientation: landscape) { */
  /* iPhone SE Landscape */
  /* .footer_2,.footer_3, .footer_4, .footer_5,  {display: none;} */
}


/*
1680x1050 (MacBook Pro ’15.4)

1440x900 (MacBook Pro ’15)

1366x768 (MacBook Air ’11.6)

1280x800 (MacBook Pro ’13)*/
