@media only screen and (min-device-width: 1680px) and (max-device-width: 1920px) {
  /* MacBook Pro 2020*/
  .footer{
    display: none;
  }
}

@media only screen and (min-device-width: 1440px) and (max-device-width: 1680px) {
  /* MacBook Pro 2020*/
  .footer_4 .footer_5{
    display: none;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1440px) {
  /* MacBook Pro 2020*/
  .footer_4, .footer_5{
    display: none;
  }
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1366px) {
  /* Macbook Air 11.6" */
  .infor, .infor_h {
    font-size: 11px;
  }
  }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  /* MacBook Pro 13" старый */

  /* ////////////// */
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Desktop */
}
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
  .s2{
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}







@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone X */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone X Portrait */

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone X Landscape */
}







@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone SE */
  .footer_2{
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone SE Portrait */
  .footer_2{
    display: none;
  }
  .footer_3{
    display: none;
  }
  .footer_4{
    display: none;
  }
  .footer_5{
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone SE Landscape */
  p{
    font-size: 14px;
  }
  .footer_3{
    display: none;
  }
  .footer_4{
    display: none;
  }
  .footer_5{
    display: none;
  }
}


/*
1680x1050 (MacBook Pro ’15.4)

1440x900 (MacBook Pro ’15)

1366x768 (MacBook Air ’11.6)

1280x800 (MacBook Pro ’13)
